<div id="message-<%= message.id %>" class="message <%=' writer text-white' if message.user == user%>"
      data-controller="message"
      data-message-user-id-value="<%= message.user.id %>">
	<div class="content">
		<%= cl_image_tag message.user.avatar.key, class:'avatar-small', data:{message_target: "avatar"} %> <%= message.content %>
	</div>
	<div class="message-date">
		<% if message.created_at.to_date == Date.today %>
			<%= message.created_at.strftime("%H:%M") %>
		<% else %>
			<%= message.created_at.strftime("%-d %b %H:%M") %>
		<% end %>
	</div>
</div>
