<% message.mark_as_read! for: user %>
<div id="message-<%= message.id %>" class="message <%=' writer text-white' if message.user == user%>"
      data-controller="message"
      data-message-user-id-value="<%= message.user.id %>">
	<div class="content">
		<%= image_tag message.user.avatar_url, class:'avatar-small me-1',
        title: message.user.first_name,
        data:{message_target: "avatar",
                controller:"tooltip",
                bs_toggle:"tooltip",
                bs_placement:"left"} %>
		<div class="message-content">
			<% unless !is_mobile_device? && (message.user == user || message.user.avatar.attached?) %>
				<div class='message-content-user-name'> <%= message.user.first_name %> </div>
			<% end %>
			<%= message.content %>
		</div>
	</div>
	<div class="message-date">
		<% if message.created_at.to_date == Date.today %>
			<%= message.created_at.strftime("%H:%M") %>
		<% else %>
			<%= message.created_at.strftime("%-d %b %H:%M") %>
		<% end %>
	</div>
</div>
