	<% WorkPlanDomain::LEVELS.each  do |level|%>
	<%# if domain special et level = 2 break break from each  %>
	<% if @special_domain && level == 2 %>
		<% break %>
	<% end %>
	<% belt_on_level = @all_completed_belts.select{|belt| belt.level == level} %>
	<div class="classroom-left-data-results" data-display-results-classroom-domain='<%=@domain.capitalize%>' level=" <%=level%> ">
		<div class="level-results">
			<div class="belt-logo">
				<i class=" fas fa-bacon belt-<%=level %>"></i>
			</div>
			<div class="belt-skill_names">
				<% @skills.select{|skill| skill.domain == @domain && skill.level == level}.sort.each do |skill| %>
					<div class="results-line" skill=" <%=skill.name%>">
						<div class="belt-skill-name">
							<%= skill.name.capitalize %>
						</div>
						<div class="classroom-right-data-results" >
							<% @students_list.each do |student| %>
								<div class="result-cell" data-controller='classroom-add-wps' data-classroom-add-wps-target='wpsBox'>
									<% if !(@special_domain || belt_on_level.nil? || belt_on_level.select{ |belt| belt.student == student}.empty?) %>
										<%#If special domain true ou ceinture  %>
										<i class="fa-solid fa-circle-check --vert"></i>
									<% elsif !(@all_completed_work_plan_skills.nil? || @all_completed_work_plan_skills[student.id.to_s].nil? || @all_completed_work_plan_skills[student.id.to_s].select{|wps| wps.skill == skill }.empty?) %>
										<%# <% unless @all_completed_work_plan_skills.nil? || @all_completed_work_plan_skills[student.id.to_s].nil? || @all_completed_work_plan_skills[student.id.to_s].select{|wps| wps.skill == skill }.empty? %>
										<i class="fa-solid fa-circle-check --vert"></i>
									<% else %>
										<div class='w-100 h-100 text-center' data-controller='wps-result' data-action='mouseover->wps-result#displayName mouseout->wps-result#hideName'>
											<%= link_to "+", student_add_completed_wps_path(student, params:{skill_id: skill.id}),
                                                class: "d-inline bg-transparent p-0 --green d-none",
                                                form_class: "d-inline ",
                                                data:{ wps_result_target:'name',
                                                action:'click->classroom-add-wps#validateWps'
                                                }%>
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>
