<!-- Modal -->
<div class="modal fade" id="sharingClassroomModal-<%=classroom.id%>" tabindex="-1" aria-labelledby="sharingClassroomModal-<%=classroom.id%>Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="sharingClassroomModal-<%=classroom.id%>Label">Partager votre Classe de <%= classroom.grade %> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" >
        <%= simple_form_for "#{classroom.id}", url:(classroom_shared_classrooms_path(classroom)), html: { novalidate: false }  do |form| %>
          <div class="cloning-classroom-card" >
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <%# <div class="student-checkbox" data-controller='classroomcheckboxe'> %>
              <div class="student-checkbox" >
                <h4>Ecole <%= @school.name.capitalize %> </h4>
                <%=form.input_field :teachers,
                  collection: @school_teachers,
                  label_method: :first_name,
                  value_method: :id,
                  multiple: true,
                  as: :check_boxes,
                  boolean_style: :inline,
                  # id: :first_name.to_s+"_"+:id.to_s,
                  input_html: {id: :first_name.to_s+"_"+:id.to_s},
                  # data: {checkboxes_target: 'boxes',action:"click->classroomcheckboxe#add"},
                  class: "tag-selector",
                  item_wrapper_class: 'tag-item'
                %>
              </div>
            </div>
          </div>
          <%= form.submit 'Partager',class: 'multi-cloning-validate-btn mt-3 mb-3',
              data: { confirm: "Etes vous bien sûr de vouloir partager cette Classe? \nLes enseignants sélectionnés pourront agir sur les classes tout comme vous." } %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <%# <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> %>
      <%# <button type="button" class="btn btn-primary">Save changes</button> %>
    </div>
  </div>
</div>
