<% if @classrooms.empty?%>
  <h1>Ouups, Vous n'avez pas de Classe.</h1>
  <h1> Créez en une !</h1>
<% else %>
  <% if @classrooms.count == 1 %>
    <h1>Ma Classe</h1>
  <% else %>
    <h1>Mes Classes</h1>
  <% end %>
  <div class="classrooms-list">
    <% @classrooms.each do |classroom| %>
      <div class="classroom-card">
        <%# <img src="" alt=""> %>
        <div class="classroom-card-top">
          <div class="class-grade ps-3 d-flex">
            <div class='me-3 pt-1'>
              <%= link_to classroom_path(classroom), method: :delete, data: {
                                                         confirm: "Voulez vous Supprimer Cette classe? Vous allez supprimer tous les élèves et les plans de travail associés",
                                                       } do %>
                <div class='rmv-skill-btn white'>
                  <i class="far fa-times-circle"></i>
                </div>
              <% end %>
            </div>
            <%= classroom.grade.upcase %>
          </div>
        </div>
        <div class="students-names">
          <% (@students_list.select { |s| s.first == classroom }).first[1].each do |student| %>
            <div class="student-fname d-flex">
              <div class=''>
                <%= link_to student_path(student), method: :delete, data: {
                                                        confirm: "Voulez vous Supprimer Cet élève?",
                                                      } do %>
                  <div class='rmv-skill-btn '>
                    <i class="far fa-times-circle"></i>
                  </div>
                <% end %>
              </div>
              <%= link_to student_path(student) do %>
                <h1 class='ms-3'>
                  <%= student.first_name.capitalize %>
                </h1>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class=" add-student-btn">
          <%= link_to "Ajouter un élève", new_classroom_student_path(classroom), class: "" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="classroom-creation" data-controller='create-classroom'>
  <button class="validate-btn" data-action='click->create-classroom#displayForm'>
    Créer une classe
  </button>
  <div class="classroom-form d-none" data-create-classroom-target='form'>
    <%= simple_form_for Classroom.new do |f|%>
      <div class="classroom-field d-flex">
        <%=f.input :grade, label: false,
                              collection: Classroom::GRADE,
                              input_html: {class: 'area add-grade'}
                                %>
        <%= f.submit "Valider", class: "validate-btn" %>
      </div>
    <% end %>
  </div>
</div>
