<div class='all-results' data-controller= "display-results-classroom">
	<div class="skills">
		<% @domains.each do |domain| %>
			<%= render 'tab_for_domain_on_classroom_results', domain: %>
		<% end %>
	</div>
	<div class="classroom-results-header">
		<div class="skill" >
			<h1><%=@classroom.grade %> -  <%=@classroom.name %></h1>
			<div data-display-results-classroom-target='domainnamedisplay'>
				<%= @domain.capitalize %>
			</div>
		</div>
		<%@students_list.each do |student|  %>
			<div class="student-name" data-controller="wps-result">
				<%# link to autogen Workplan for this student %>
				<button type="button" class="--bgc-blanc student-result-name" data-bs-toggle="modal" data-bs-target="#staticBackdrop-student-<%=student.id%>" data-action= "mouseover->wps-result#displayName mouseout->wps-result#hideName">
					<i class="fa-solid fa-user-gear printer-logo auto-logo"></i>
				</button>
				<%# model for auto gen %>
				<%# END of autogen %>
				<%= link_to student.first_name.capitalize, student_path(student) %>
			</div>
		<% end %>
	</div>
	<div class="classroom-data-results"
        data-display-results-classroom-target='results'>
		<%= render 'classroom_domain_results' %>
	</div>
</div>
<%# MODALS for autogen %>
<%@students_list.each do |student|  %>
	<%# model for auto gen %>
	<div class="modal fade" id="staticBackdrop-student-<%=student.id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<%= simple_form_for [student], url:student_auto_new_wp_path(student), method: :post, html:{target:"_blank"} do |form|%>
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Déselectionner les domaines non souhaités pour <%= student.first_name.capitalize %> </h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="cloning-classroom-card" >
							<div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
								<div class="domain-checkbox" data-controller='checkboxes'>
									<%=form.input_field :domains,
                        # collection: classroom.students.order(first_name: :asc),
                        collection:@domains,
                        # label_method: ,
                        value_method: lambda {|domain| domain},
                        multiple: true,
                        as: :check_boxes,
                        boolean_style: :inline,
                        data: {checkboxes_target: 'boxes',action:"click->checkboxes#add"},
                        class: "tag-selector",
                        item_wrapper_class: 'tag-item',
                        required: true,
                        checked: @domains
                        %>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<p class="--grisC w-100"> <em>La plan de travail s'ouvrira dans un nouvel onglet</em></p>
						<button type="button" class="btn btn-secondary --border-10px" data-bs-dismiss="modal">X</button>
						<%= form.submit 'Valider', class: 'btn btn-secondary --bgc-vert --borderc-vert --border-15px', data: { bs_dismiss:"modal" }%>
            <%# <button type="button" class="btn btn-secondary --bgc-vert --borderc-vert ">Valider</button> %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>
<%# END of autogen %>
