<div class="mobile-eval-mngt">
  <%# raise %>
  <% # #si plan_skill kind jeux %>
  <% if plan_skill.kind.downcase == "jeu" %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :redo_OK), method: :patch do %>
      <div><i class="fa-solid fa-arrow-rotate-left text-success eval-icon"></i></div>
    <% end %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :completed), method: :patch do %>
      <div><i class="fas fa-pen text-primary eval-icon"></i></div>
    <% end %>
  <% end %>
  <% # #si plan_skill kind exo %>
  <% if plan_skill.kind.downcase == "exercice" %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :failed), method: :patch do %>
      <div><i class="fa-solid fa-xmark text-danger eval-icon"></i></div>
    <% end %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :redo), method: :patch do %>
      <div><i class="fa-solid fa-arrow-rotate-left orange eval-icon"></i></div>
    <% end %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :redo_OK), method: :patch do %>
      <div><i class="fa-solid fa-arrow-rotate-left text-success eval-icon"></i></div>
    <% end %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :completed), method: :patch do %>
      <div><i class="fa-solid fa-graduation-cap text-primary eval-icon"></i></div>
    <% end %>
  <% end %>
  <% # #si plan_skill kind ceinture %>
  <% if (plan_skill.kind.downcase == "controle") || (plan_skill.kind.downcase == "ceinture") %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :redo), method: :patch do %>
      <div><i class="fa-solid fa-arrow-rotate-left orange eval-icon"></i></div>
    <% end %>
    <%= link_to work_plan_skill_update_eval_path(plan_skill, :completed), method: :patch do %>
      <div><i class="fa-solid fa-graduation-cap text-primary eval-icon"></i></div>
    <% end %>
  <% end %>
</div>
