<% last_3_wps = @previous.find { |t| t.first == plan_skill.skill_id }[1].sort_by(&:created_at) %>
<div class="mobile-skill-card">
  <div class='title-mobile-skill-card'>
    <h3 class='me-2 mt-2'><%= plan_skill.skill.symbol %></h3>
    <h6 class ='mt-2 mb-2'style='text-align:left;margin-bottom: 0'><%= plan_skill.skill.name %></h6>
  </div>
  <div class="mobile-eval-display" data-controller='ajax-work-plan'
>
    <div class="previous_eval mt-2">
      <% unless last_3_wps.count == 1 %>
        <% # 3 previous wps %>
        <% # last_wps = WorlPlanSkill %>
        <%last_3_wps.each do |wps|%>
          <% unless wps.id == plan_skill.id %>
            <div class="eval_bull <%= wps.status %> ">
              <i class="fa-solid fa-<%= wps.kind[0] %>"></i>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <% # current wps %>
    <%# start of eval modal %>
    <button type="button" class="bg-white" data-bs-toggle="modal" data-bs-target="#evalModal-<%= plan_skill.id%>" >
      <div class= 'mobile-last-eval' data-ajax-work-plan-target='lastEval'>
        <div class="eval_bull <%= plan_skill.status %>">
          <i class="fa-solid fa-<%= plan_skill.kind[0] %> "></i>
        </div>
      </div>
    </button>
    <%# MODAL  %>
    <div class="modal fade" id="evalModal-<%=plan_skill.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%=plan_skill.skill.name%></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "eval_mobile_wps_mngt", plan_skill: plan_skill %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <%# end of eval modal %>
</div>
