<div class="mobile-index-wp-card ">
  <div class="mobile-student-wp">
    <%= link_to work_plan_path(wp), target: '_blank' do %>
      <div class="mobile-namept">
        <%= wp.name %>
      </div>
      <div class='rmv-wp'>
        <%= link_to work_plan_path(wp), method: :delete, data: {
                                      confirm: "Voulez vous Supprimer Ce Plan de Travail?",
                                    } do %>
          <div class='mobile-rmv-skill-btn '>
            <i class="far fa-times-circle"></i>
          </div>
        <% end %>
      </div>
    </div>
    <div class="mobile-wp-dates">
      <%= wp.start_date.nil? ? "" : l(wp.start_date, format: "%d/%m/%Y") %>
      <%= wp.end_date.nil? ? "" : l(wp.end_date, format: "au %d/%m/%Y") %>
    </div>
  <% end %>
</div>
