<% if WorkPlanDomain::DOMAINS_SPECIALS.include?(domain) && @student.classroom.grade.grade_level != "CM2" %>
  <% skills = @student_skills.select { |skill| skill.domain == domain } %>
  <div class="display-last-wps ">
    <%= render "shared/validate_belt_btn", level: level, domain: domain %>
    <%# test if level 1 or if level +1 above the higher belt %>
    <% if (level == 1 || !last_belt.nil? && (level == last_belt.level + 1 ) ) %>
      <%# afficher les wps specials du domain %>
      <% @all_skills_and_last_wps.select {|f| f[:skill][:domain]== domain}.sort_by{|f| f[:last_wps][:updated_date]}.each do |wps| %>
        <% unless wps.nil? || wps.empty? %>
          <div class="a-wps" data-controller='wps-result'>
            <%= render "challenge_status", wps: wps[:last_wps] %>
            <div class="skill-name d-none" data-wps-result-target='name'>
              <%= wps[:last_wps].skill.name %>
              -
              <%= render "wps_status", wps: wps[:last_wps] %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% skills =
    @student_skills.select do |skill|
      skill.domain == domain && skill.level == level
    end %>
  <div class="display-last-wps">
    <% skills.sort_by(&:id).each do |skill| %>
      <% wps = @all_skills_and_last_wps.select { |f| f[:skill] == skill } %>
      <% unless wps.empty? %>
        <div class="a-wps" data-controller='wps-result'>
          <%= render "challenge_status", wps: wps.last[:last_wps] %>
          <div class="skill-name d-none" data-wps-result-target='name'>
            <%= skill.name %>
            -
            <%= render "wps_status", wps: wps.last[:last_wps] %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render "shared/validate_belt_btn", level: level, domain: domain %>
  </div>
<% end %>
<%= render "shared/add_validated_wps_btn", level: level, domain: domain %>
