<div class="belt-bar belt-bg-<%= level %>">
  <div class="bar-style">
    <%= I18n.l(belt.validated_date, format: :short) %>
    <%= I18n.l(belt.validated_date, format: :year_only) %>
  </div>
  <div class='pt-2 belt-name'>
    <h6 <%= "class= text-light" if level == 7 || level == 5 %>><%= domain.name %></h6>
  </div>
</div>
<%= link_to belt_path(belt),method: :delete,class: 'delete-btn',
                              data:{confirm:"Voulez vous Supprimer Cette Ceinture?",
                              action: "click->loadingspinnermgnt#displaySpinner"} do %>
  <i class="fa-solid fa-trash"></i>
<% end %>
<%= link_to edit_belt_path(belt), class: 'edit-btn' do %>
  <i class="fa-solid fa-gear"></i>
<% end %>
