<div class="belt-bar belt-bg-<%= level %>">
  <div class="bar-style">
    <%= I18n.l(belt.validated_date, format: :short) %>
    <%= I18n.l(belt.validated_date, format: :year_only) %>
  </div>
  <div class='pt-1 text-secondary'>
    <h6 class= '<%= "text-dark" if level == 7 %>'><%= domain %></h6>
  </div>
</div>
