<%# render resultat <%= domain %>
<%if WorkPlanDomain::DOMAINS_SPECIALS.include?(domain) && @student.classroom.grade != "CM2"%>
  <%# select from @all_skill domain: domain %>
  <% skills = @student_skills.select{|skill| skill.domain == domain}%>
  <%# <% skills = Skill.where(domain: domain, grade: @student.classroom.grade)%>
  <div class="display-last-wps ">
    <%# test if level 1 or if level +1 above the higher belt %>
    <%= render "shared/validate_belt_btn", level: level, domain: domain%>
    <% last_belt =  @belts.select{|belt| belt.domain == domain }.last%>
    <% if (level == 1 || !last_belt.nil? && (level == last_belt.level + 1 ) ) %>
      <%skills.sort_by(&:id).each do |skill|%>
        <%wps= @all_skills.select {|f| f[:skill]==skill && !f[:last_wps].nil?} %>
        <% wps = wps.first[:last_wps] if wps != []%>
        <%unless wps.nil? || wps==[]%>
          <div class="a-wps" data-controller='wps-result'>
            <%= render 'challenge_status', wps: wps%>
            <div class="skill-name d-none" data-wps-result-target='name'>
              <%=skill.name%>
              -
              <%=render 'wps_status', wps: wps%>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%# select from @all_skill domain: domain & level: level %>
  <% skills = @student_skills.select{|skill| skill.domain == domain && skill.level == level} %>
  <%# <% skills = Skill.where(domain: domain, level: level, grade: @student.classroom.grade)%>
  <div class="display-last-wps">
    <%= render "shared/validate_belt_btn", level: level, domain: domain%>
    <%skills.sort_by(&:id).each do |skill|%>
      <%wps= @all_skills.select {|f| f[:skill]==skill}.first[:last_wps] %>
      <%unless wps.nil?%>
        <div class="a-wps" data-controller='wps-result'>
          <%= render 'challenge_status', wps: wps%>
          <div class="skill-name d-none" data-wps-result-target='name'>
            <%=skill.name%>
            -
            <%=render 'wps_status', wps: wps%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
