<div class="conversations-list" data-controller="conversation-list">
	<%= render 'conversations/school_conversations', active_conversation:,
  school_conversation: , school_conversations: %>
	<% unless current_user.admin? %>
		<%= render 'conversations/ensemble_conversation',ensemble_conversation:,active_conversation: %>
	<% end %>
	<% if user_conversations%>
		<% user_conversations.each do |conversation| %>
			<%= link_to conversation_path(conversation),data:{turbo_frame: "conversation"} do%>
				<div class="conversation-link <%='active' if conversation == active_conversation%>"
              data-conversation-list-target="conversation"
              data-action="click->conversation-list#addActive">
					<%if conversation.unread_messages_for_user?(current_user)%>
						<i class="fa-solid fa-circle bullet-chat-2" data-conversation-list-target="bullet"></i>
					<% end %>
					<div class="header" data-controller="tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="<%=conversation.name%>">
						<% if conversation.is_group? %>
							<div class="avatar-basic">
								<i class="fa-solid fa-comments" style="font-size: x-large;"></i>
							</div>
						<% else %>
							<%= image_tag conversation.users.where.not(id: current_user.id).first.avatar_url, class: "avatar-basic",width: "40px" %>
						<% end %>
					</div>
					<%= render 'messages/last_message', message: conversation.messages.last %>
				</div>
			<% end %>
		<% end %>
	<% end %>
	<%= render "conversations/ensemble_conversations",active_conversation: active_conversation , ensemble_conversations: @ensemble_conversations if @ensemble_conversations%>
	<%= button_tag  class: "btn-flat-no-hover" do %>
		Contacter <i class="fa-solid fa-comment"></i>
	<% end %>
	<%= render 'conversations/create_conversation', collegues_with_avatars: @collegues_with_avatars, collegue_not_in_conversation: @collegue_not_in_conversation %>
</div>
