  <%= turbo_frame_tag "conversation", class:"conversation", data:{conversation_target: "conversation"} do %>
	<div class="conversation-header">
		<%= render "conversations/name", conversation: conversation %>
		<div class="conversation-users">
			<% conversation.users.shuffle.each do |user| %>
				<%  if (!user.admin? && conversation.conversation_type != "Ensemble") %>
					<div class="conversation-user"
          data-controller="tooltip"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="<%=user.first_name%>">
						<%= image_tag user.avatar_url, class:"avatar-basic"%>
					</div>
				<% end %>
			<% end %>
			<% if (conversation.conversation_type == "group") || (conversation.conversation_type == "classic")%>
				<div class="avatar-basic">
					<h2>
						<i class="fa-solid fa-user-plus --roseL "></i>
					</h2>
					<div class="collegue-list">
						<% collegue_not_in_conversation.each do |user| %>
							<%= link_to add_user_conversation_path(conversation, new_user_id: user.id), method: :post, data:{turbo_frame: "conversation"} do%>
								<div class="collegue">
									<%= image_tag user.avatar_url, class:"avatar-basic" %>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<%= turbo_stream_from "conversation_#{conversation.id}_messages" %>
	<%= turbo_frame_tag "messages", class:"messages", data:{conversation_target: "messages"} do %>
		<% conversation.messages.each do |message| %>
			<%= render 'messages/message', message: message, user: current_user %>
		<% end %>
	<% end %>
	<%= simple_form_for [conversation,Message.new],
      html: {class: "",
      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
		<div class="new-message-form">
			<%= f.input :content, label: false %>
			<%= button_tag :submit do%>
				<i class="fas fa-paper-plane"></i>
			<% end %>
		</div>
	<% end %>
<% end %>
