<%= turbo_frame_tag "conversation", class:"conversation" do%>
	<div class="messages">
		<% if conversation.messages.empty? %>
			<div class="">Aucun Message</div>
		<% end %>
		<% conversation.messages.each do |message| %>
			<%= message.content %>
		<% end %>
	</div>
	<%= simple_form_for [conversation,Message.new] do |f| %>
		<div class="new-message-form">
			<%= f.input :content, label: false %>
			<%= button_tag :submit do%>
				<i class="fas fa-paper-plane"></i>
			<% end %>
		</div>
	<% end %>
<% end %>
