  <%= turbo_frame_tag "conversation", class:"conversation", data:{conversation_target: "conversation"} do %>
	<div class="conversation-header">
		<%= render "conversations/name", conversation: conversation %>
		<div class="conversation-users">
			<% conversation.users.shuffle.each do |user| %>
				<%  if (!user.admin? && !conversation.is_ensemble?) %>
					<div class="conversation-user"
          data-controller="tooltip"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="<%=user.first_name%>">
						<%= image_tag user.avatar_url, class:"avatar-basic"%>
					</div>
				<% end %>
			<% end %>
			<div class="avatar-basic" data-controller='toggle-panel'>
				<% if (conversation.is_group?) || (conversation.is_classic?)%>
					<h2  data-toggle-panel-target="btn" data-action="click->toggle-panel#displayPanel">
						<i class="fa-solid fa-user-plus --roseL --cursor-pointer"></i>
					</h2>
					<div class="collegue-list d-none" data-toggle-panel-target="panel" data-action="click->toggle-panel#displayPanel">
						<% collegue_not_in_conversation.each do |user| %>
							<%= link_to add_user_conversation_path(conversation, new_user_id: user.id), method: :post, data:{turbo_frame: "conversation"} do%>
								<div class="collegue"
                  data-controller="tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-placement="left"
                  title="<%=user.first_name%>">
									<%= image_tag user.avatar_url, class:"avatar-basic" %>
								</div>
							<% end %>
						<% end %>
						<div class="toogle-up avatar-basic mt-2">
							<i class="fa-solid fa-chevron-up fa-lg --roseL --cursor-pointer"></i>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<%= turbo_stream_from "conversation_#{conversation.id}_messages" %>
	<%= turbo_frame_tag "messages", class:"messages", data:{conversation_target: "messages"} do %>
		<% conversation.messages.each do |message| %>
			<%= render 'messages/message', message: message, user: current_user %>
		<% end %>
	<% end %>
	<%= simple_form_for [conversation,Message.new],
      html: {class: "",
      data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" }} do |f| %>
		<div class="new-message-form">
			<%= f.input :content, label: false %>
			<%= button_tag :submit do%>
				<i class="fas fa-paper-plane"></i>
			<% end %>
		</div>
	<% end %>
<% end %>
