<h3>ADMIN ENSEMBLE</h3>
<% ensemble_conversations.each do |ensemble_conversation| %>
	<%if ensemble_conversation.unread_messages_for_user?(current_user) && !ensemble_conversation.users.where.not(id: current_user.id).empty?%>
		<%= link_to  conversation_path(ensemble_conversation),data:{turbo_frame: "conversation"} do%>
			<div class="conversation-link <%='active' if ensemble_conversation == active_conversation%>"
      data-conversation-list-target="conversation"
      data-action="click->conversation-list#addActive">
				<%if ensemble_conversation.unread_messages_for_user?(current_user)%>
					<i class="fa-solid fa-circle bullet-chat-2" data-conversation-list-target="bullet"></i>
				<% end %>
				<% teacher = ensemble_conversation.users.where.not(id: current_user.id).first  %>
				<div class="header" data-controller="tooltip"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          title="<%= teacher.school.name + " " + teacher.first_name%>">
					<%= image_tag teacher.avatar_url, class: "avatar-basic",width: "40px" %>
				</div>
				<%= render 'messages/last_message', message: ensemble_conversation.messages.last, conversation: ensemble_conversation %>
			</div>
		<% end %>
	<% end %>
<% end %>
