        <div class="cont-challenge" data-controller='edit-challenge'>
        <%# display le content.body d'un exo %>
        <div challenge-card>
          <div class="challenge-infos " data-edit-challenge-target="infos">
            <div class='d-flex justify-space-between'>
              <h4>Exercice</h4>
              <i class="fas fa-pen fa-xs ml-2"
              data-action="click->edit-challenge#displayForm">Edit</i>
            </div>
            <%= work_plan_skill.challenge.content.body%>
          </div>
        </div>
          <%# Display editeur, en d-none de base %>
          <div >
            <%= form_for [work_plan_skill, work_plan_skill.challenge],
            html: { class: 'd-none', data: { edit_challenge_target: 'form' } } do |form| %>
              <div class="field">
                <%= form.label :content %>
                <%= form.rich_text_area :content %>
              </div>
              <div class="form-actions">
                <%= form.button :submit %>
                <%# <% raise %>
              </div>
            <% end %>
          </div>
        </div>
