        <%# titre de la skill %>
        <div class='display-challenge-name'>
        <h4><%= work_plan_skill.skill.name%></h4>
        </div>
        <div>
        <div class="d-flex " data-controller='edit-challenge' id="<%=dom_id(work_plan_skill.challenge)%>">
                <%# display le content.body d'un exo %>
          <div class="cont-challenge w-100">
            <div class= "challenge-card">
              <div class="challenge-infos" data-edit-challenge-target="infos">
                <%= work_plan_skill.challenge.content.body %>
              </div>
              <div class="challenge-infos d-none" data-edit-challenge-target="preview" >
              </div>
            </div>
              <%# Display editeur, en d-none de base %>
              <div>
                <%= form_for [work_plan_skill, work_plan_skill.challenge],
                html: { class: 'd-none', data: { edit_challenge_target: 'form' } } do |form| %>
                  <div class="field pb-2" data-controller="rich-text-table">
                      <div>
                        <%= form.text_field :name, class: "challenge-title"%>
                      </div>
                      <%= form.rich_text_area :content %>
                  </div>
                  <div class="form-actions d-flex justify-content-end height-validate-challenge">
                    <%= link_to work_plan_path(@work_plan, anchor: "challenge_#{work_plan_skill.challenge.id}"), class: 'cancel-btn' do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                    <%= form.submit 'Enregistrer', class: 'validate-challenge-btn', data: { confirm: "Attention, modifier cet excercice impactera les autres Plan. Sinon vous pouvez cloner l'exercice." }%>

                  </div>
                <% end %>
              </div>
          </div>
            <%# cloner un exo %>
          <div class="challenge-mngt">
            <%= link_to  work_plan_skill_clone_path( work_plan_skill, work_plan_skill.challenge.id) ,action: 'clone', method: 'post', class: 'replace-challenge-btn' do %>
              <i class="far fa-clone ml-2"></i>
              <h6>Cloner</h6>
            <% end %>
            <%# <div class="replace-challenge-btn">
              <i class="far fa-clone ml-2"></i>
              <h6>Cloner</h6>
            </div> %>
            <div class="replace-challenge-btn" data-action="click->edit-challenge#displayForm">
              <i class="fas fa-pen fa-xs ml-2"></i>
              <h6>Modifier</h6>
            </div>
            <%# REPLACE A CHALLENGE %>
            <div data-controller="skill-add">
              <div data-edit-challenge-target="button" data-skill-add-target="button" data-action="click->skill-add#displayForm" class='replace-challenge-btn'>
                <i class="far fa-folder-open ml-2"></i><h6>Charger</h6>
              </div>
              <div class="d-none challenge-form" data-skill-add-target="form">
              <%# Selectionner les challenges appartenant à un WP Skill%>
                <%= simple_form_for work_plan_skill, method: :patch, class:'d-flex'  do |f| %>
                  <div class=" d-flex justify-content-between pb-1 w-100">
                    <div class='d-flex '>
                    <%# challenge qui appartient à un skill %>
                      <select name="challenge" id="challenge" class="challenge-selector" data-action="change->edit-challenge#preview">
                        <option value>Sélectionner un exercice</option>
                        <% work_plan_skill.skill.challenges.each do |challenge| %>
                          <%# VOIR edit_challenge_controller.js pour le parse %>
                          <option data-content="<%= challenge.content.body.to_json %>" value=<%=challenge.id%>><%= challenge.name %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                  <div>
                    <button class="validate-btn" type="submit">
                      <i class="far fa-save"></i>
                    </button>
                    <%= link_to work_plan_path(@work_plan, anchor: "challenge_#{work_plan_skill.challenge.id}"), class: 'cancel-btn' do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <%# REPLACE A CHALLENGE END %>
          </div>
        </div>
        </div>
