
<div class='domain  ' id="<%= dom_id(work_plan_domain) %>">
  <%# DOMAIN + BELT DISPLAY %>
  <div class='p-1 d-flex'>
    <div class='domain-belt-level'>
      <div class='domain-display d-flex justify-content-start'>
        <%# Button remove Domain %>
        <%= link_to work_plan_domain_path(work_plan_domain), method: :delete, data: { confirm: "Voulez vous enlever ce domaine?" } do %>
          <div class='rmv-skill-btn mt-3 me-2'>
            <i class="far fa-times-circle"></i>
          </div>
        <% end %>
        <%= work_plan_domain.domain%></div>
      <div >
        <div class='d-flex justify-content-around belt-display '>
          <div class='bd-maison' >
            <i class=" fas fa-bacon belt-<%= work_plan_domain.level %> display-2 font-weight-bold"></i>
          </div>
        </div>
        <div class='d-flex justify-content-around mt-1 belt-display' <%  if ['Géométrie', 'Grandeurs et Mesures'].include?(work_plan_domain.domain) then%> style = 'visibility: hidden'<%end%> >
          <strong><%= @belt[work_plan_domain.level-1].capitalize%></strong>
        </div>
      </div>
    </div>
    <%# SKILLS DISPLAY  %>
    <div class='p-2 skill-display'>
      <% work_plan_domain.work_plan_skills.order(:skill_id).each do |plan_skill| %>
        <%= render 'show_skill_display', plan_skill: plan_skill%>
      <% end %>
      <%# add skill on domain %>
      <div data-controller="skill-add" class='pt-3'>
        <div data-skill-add-target="button" data-action="click->skill-add#displayForm" class='add-skill-btn'>
          <h6>Ajouter une compétence  </h6>
          <i class="fas fa-chevron-right"></i>
        </div>
        <div class="d-none" data-skill-add-target="form">
          <%= simple_form_for [WorkPlanSkill.new ], url:  work_plan_domain_work_plan_skills_path(work_plan_domain), method: :post, class:'d-flex'  do |f| %>
            <div class=" d-flex justify-content-between pb-1 ">
              <div class='d-flex '>
                <%= select_tag :skill, options_from_collection_for_select(Skill.where(domain: work_plan_domain.domain ,level: work_plan_domain.level, grade: @work_plan.grade).order(:symbol,:id), :id,:name), :prompt => "Sélectionnez Une compétences",class: 'skill-selector', :required => true %>
              </div>
              <div>
                <%= select_tag :kind, raw("<option>jeu</option><option>exercice</option><option>ceinture</option>"), :prompt => "Sélectionnez Un type" ,class: 'skill-selector', :required => true %>
              </div>
            </div>
            <div class=''>
              <%= f.submit 'Valider' ,class: 'add-skill-btn' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%# show 1 exo %>
  <div >
    <% work_plan_domain.work_plan_skills.order(:skill_id).each do |work_plan_skill| %>
      <% if (work_plan_skill.kind == 'exercice') %>
        <%= render 'challenge_display', work_plan_skill: work_plan_skill%>
      <% end %>
    <% end %>
  </div>
</div>
