<div class="eval-mngt">
	<%# raise %>
	<% # #si plan_skill kind jeux %>
	<div class=''>
		<% if plan_skill.kind.downcase == "jeu" %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :redo_OK), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-arrow-rotate-left text-success eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :completed), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fas fa-pen text-primary eval-icon"></i>
			<% end %>
		<% end %>
	</div>
	<% # #si plan_skill kind exo %>
	<div class=''>
		<% if plan_skill.kind.downcase == "exercice" %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :not_done), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-regular fa-circle-xmark --grisF eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :failed), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-arrow-rotate-left text-danger eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :redo), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-arrow-rotate-left orange eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :redo_OK), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-arrow-rotate-left text-success eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :completed), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-graduation-cap text-primary eval-icon"></i>
			<% end %>
		<% end %>
	</div>
	<% # #si plan_skill kind ceinture %>
	<div class=''>
		<% if (plan_skill.kind.downcase == "controle") || (plan_skill.kind.downcase == "ceinture") %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :not_done), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-regular fa-circle-xmark --grisF eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :redo), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-arrow-rotate-left orange eval-icon"></i>
			<% end %>
			<%= link_to work_plan_skill_eval_update_path(plan_skill, status: :completed), data:{action: "click->ajax-work-plan#toggle"} do %>
				<i class="fa-solid fa-graduation-cap text-primary eval-icon"></i>
			<% end %>
		<% end %>
	</div>
</div>
