<%= link_to work_plan_path(wp) do %>
            <div class="student-wp">
              <div class="namept">
                <%= wp.name %>
              </div>
              <div class="wp-dates">
                <%= wp.start_date.nil? ? "" : l(wp.start_date, format: "%d/%m/%Y") %>
                  <%= wp.end_date.nil? ? "" : l(wp.end_date, format: "au %a. %d/%m/%Y") %>
              </div>
          <% end %>
              <div class='rmv-wp'>
                <%= link_to work_plan_path(wp), method: :delete, data: {
                                                  confirm: "Voulez vous Supprimer Ce Plan de Travail?",
                                                } do %>
                  <div class='rmv-skill-btn '>
                    <i class="far fa-times-circle"></i>
                  </div>
                <% end %>
              </div>
            </div>
