<div class="index-wp-line" data-wp-by-student-target='wpLine'>
  <div class="eval_link">
    <%= link_to evaluation_path(wp), data:{turbo_frame: "work_plan_index"} do %>
      <i class="fa-solid fa-graduation-cap"></i>
    <% end %>
  </div>
  <div class="student-wp">
    <%= link_to work_plan_path(wp), target: '_blank' do %>
      <div class="namept">
        <%= wp.name %>
      </div>
      <div class="index-wp-count">
        <%= wp.grade %>
      </div>
      <div class="wp-dates">
        <%= wp.start_date.nil? ? "" : l(wp.start_date, format: "%d/%m/%Y") %>
        <%= wp.end_date.nil? ? "" : l(wp.end_date, format: "au %a. %d/%m/%Y") %>
      </div>
    <% end %>
  </div>
  <div class='rmv-wp'>
    <%= button_to work_plan_path(wp), method: :delete,
                                    class: '--bgc-blanc',
                                    data: {
                                      # action: "click->wp-by-student#deleteWorkPlan",
                                      confirm: "Voulez vous Supprimer Ce Plan de Travail?",
                                    } do %>
      <div class='rmv-skill-btn '>
        <i class="far fa-times-circle"></i>
      </div>
    <% end %>
  </div>
</div>
