<div class='student-name text-right' data-controller='wps-result'>
  <div class="d-flex">
    <% unless work_plan.student.nil? %>
      <%# data: { edit_challenge_target: 'form' } %>
      <%# data-action="mouseover->wps-result#displayName mouseout->wps-result#hideName"
  data: {action:"click->new-domain#displayBelt"}  %>
      <%= link_to student_path(work_plan.student), class: 'student_name_link',
     data:{action: "mouseover->wps-result#displayName mouseout->wps-result#hideName"}  do%>
        <h2><strong><%= work_plan.student.first_name %></strong></h2>
      <% end %>
      <div class="link_details d-none", data-wps-result-target= 'name'}>
        Progression de <%=work_plan.student.first_name%>
      </div>
    <% end %>
  </div>
  <div class='text-right'>
    <div class="d-flex  justify-content-end">
      <!-- Button trigger sharing - modal -->
      <button type="" class="utility-wp-btn" data-bs-toggle="modal" data-bs-target="#sharingModal">
        Partager
      </button>
        <%# <% if current_user.admin %>
        <% unless work_plan.student.nil? %>
          <%= link_to eval_path(@work_plan), class: "utility-wp-btn" do %>
            <h6>Correction</h6>
          <% end %>
        <% end %>
        <%# end %>
        <%= link_to work_plan_path(@work_plan, format: :pdf), class: "utility-wp-btn" do %>
          <h6>Export PDF</h6>
        <% end %>
        <div class= "utility-wp-btn" data-action="click->cloning-wp#displayCloningForm">
          <h6>Cloner</h6>
        </div>
      </div>
      <%unless work_plan.shared_user_id.nil?%>
        <div class='d-flex  justify-content-end'>
          <h6 class='shared-by'>Partagé par <%= @shared_user.first_name.capitalize %> </h6>
        </div>
      <% end %>
    </div>
  </div>
