<div class="container3" data-controller="display-right-anchor">
  <%= turbo_frame_tag "work_plan_index" do %>
    <% @my_classrooms.each do |classroom| %>
      <%= turbo_frame_tag classroom do %>
        <div class="wp-one-classroom">
          <h1>
            <%= "#{classroom.grade.grade_level.upcase} " %>
            <p class='ms-2'><%= classroom.name.nil? ? "" : "#{" - "} #{classroom.name}" %></p>
            <div class="sharing-details">
              <% if classroom.user != current_user %>
                <h6>Classe Partagée par
                  <%= classroom.user.first_name.capitalize %>
                </h6>
              <% end %>
            </div>
          </h1>
          <%# WP assigned %>
          <% classroom.students.order(:first_name).each do |student| %>
            <%= render "index_student_index", my_work_plans: @my_work_plans, student: student %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%# WP unassigned %>
    <% if @my_work_plans_unassigned.count > 0 %>
      <div data-controller="wplistunsigned" class=''>
        <%= render "index_unassigned_wp_list" %>
      </div>
    <% end %>
    <%# end classroom loop => class wp-one-classroom %>
  <% end %>
</div>
