<% content_for :meta_title, "Ensemble | Plan de travail" %>
<% content_for :meta_description, "Planifiez vos activités avec vos élèves et votre classe" %>
<% content_for :meta_image, cl_image_path("back_to_school_o4fgw6") %>

<div class='container'>

  <ul>
  <div class="title mb-4">
    <h1 style='text-align: center' class="content"><i class="fas fa-list"></i> MES DERNIERS PLANS DE TRAVAIL</h1>
  </div>
    <%@my_work_plans.each do |wp| %>
      <li class='area mb-3 wp-item'>
        <%= link_to work_plan_path(wp) do %>
          <div class='wp-text'>
            <h3><%= wp.name %>
                <%= wp.start_date.nil? ? '' : l(wp.start_date, format: "du %a. %d/%m/%Y") %>
                <%= wp.end_date.nil? ? '' : l(wp.end_date, format: "au %a. %d/%m/%Y") %>
            </h3>
            <h6><span>Pour <%= wp.student.nil? ? "Non assigné": wp.student.first_name %></span> | Dernière modification : <%= l(wp.updated_at, format: "%d/%m/%Y") %></h6>


          </div>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>
