<div class='container font'>
  <h1 style='text-align: center'>
    <i class='far fa-address-card' style='font-size: 30px'></i> MON PLAN DE TRAVAIL
  </h1>
  <div class='m-top'>
    <%= simple_form_for @work_plan, defaults: { input_html: { class: 'pad-35' } } do |f| %>
      <div class='box-start m-top'>
        <div class='box-column'>
          <p class='pad-35'>Nommez votre plan de travail : *</p>
          <p class='pad-35'>Niveau de : *</p>
          <p class='pad-35'>Période du : *</p>
          <p class='pad-35'>Personnalisez pour l'élève :</p>
        </div>
        <div class='box-column'>
          <%= f.input :name, label: false,  required: true,
                      # placeholder: 'CE2...',
                      input_html: { class: 'area grow m-left' } %>
          <%= f.input :grade, label: false,  required: true,
                            collection: Classroom::GRADE,
                            input_html: {class: 'area grow m-left'}
                            %>
          <%# <i class="far fa-calendar-check font-fa"></i> %>
          <div class='box-start pad-35' data-controller='wp-default-period'>
          <%# data-wp-default-period-target='start' /// data-action='click->wp-default-period#add' %>
            <div>
              <%= f.input :start_date, as: :string, label: false,  required: true,
                          input_html: {class: 'datepicker area rect-lg m-left ', locale: "fr", data:{ wp_default_period_target: "start",action:"click->wp-default-period#add"}} %>
            </div>
            <p class='m-left'>au</p>
            <div data-wp-default-period-target='end'>
              <%= f.input :end_date, as: :string, label: false,  required: true,
                          input_html: {class: 'datepicker area rect-lg m-left', locale: "fr",data:{ wp_default_period_target: "end"}} %>
            </div>
          </div>
          <%= f.association :student, label: false,
                            collection: @students.order(:first_name),
                            input_html: {class: 'area grow m-left'},
                            label_method: :first_name %>
        </div>
       </div>

      <div class='m-top box-end'>
        <%= f.submit "Valider", class: 'area rect-sm btn-valid' %>
      </div>
      <div class='m-top'>
      </div>
    <% end %>
  </div>
</div>
