<div class='container font'>
  <h1><i class='fas fa-desktop'></i> MON PLAN DE TRAVAIL</h1>
  <div class='m-top-5'>
    <%= simple_form_for @work_plan do |f| %>
      <%= f.input :name, label: 'Nommez votre plan de travail :',
                  placeholder: 'CE2...',
                  input_html: { class: 'area rect-lg' } %>
      <div class='box m-top-5'>
        <i class="far fa-calendar-check font-fa" style="align-self: flex-center"></i>
        <div class='m-left-5'>
          <%= f.input :start_date, as: :string, label: 'Période du',
                      # placeholder: '📅',
                      input_html: {class: 'datepicker '} %>
        </div>
        <div class='m-left-5'>
          <%= f.input :end_date, as: :string, label: 'au',
                      # placeholder: '📅',
                      input_html: {class: 'datepicker'} %>
        </div>
      </div>
      <div class='d-flex m-top-5'>
        <i class="far fa-user-circle font-fa"></i>
        <div class='m-left-5'>
          <%= f.association :student, label: "Personnalisez pour l'élève :",
                            collection: @students.order(:first_name),
                            label_method: :first_name %>
        </div>
      </div>
      <div class='m-top-5'>
        <%= f.simple_fields_for :work_plan_domains do |domain_form| %>
          <%= domain_form.input :domain, label: 'Choisissez un domaine :', as: :radio_buttons,
                                collection: WorkPlanDomain::DOMAINS,
                                collection_wrapper_tag: 'div',
                                collection_wrapper_class: 'wrapper',
                                item_wrapper_class: 'domain-item',
                                input_html: { class: 'selector domain-selector' } %>
      </div>
      <div class='m-top-5'>
          <%= domain_form.input :level, label: 'Choisissez une ceinture :', as: :radio_buttons,
                                collection: WorkPlanDomain::LEVELS,
                                collection_wrapper_tag: 'div',
                                collection_wrapper_class: 'wrapper',
                                item_wrapper_class: 'level-item',
                                input_html: { class: 'selector level-selector' } %>
        <% end %>
      </div>
      <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
