<%# temp level management ici CM2 %>
<div class="classroom-level-selectors">
	<% @grades.each do |classroom_grade| %>
		<%= link_to skills_path(grade: classroom_grade ) do %>
			<div class="class-pill <%= 'active' if classroom_grade == @grade %> ">
				<%= classroom_grade.grade_level.upcase %>
			</div>
		<% end %>
	<% end %>
	<h1 class=''>Mes Compétences </h1>
	<div class='skill-school-name'>(<%= @skills.first.school.name.capitalize %>)</div>
</div>
<div  class="skills-classroom-level-card"
      data-controller='allskilldisplay'
      >
	<div class="skills">
		<% WorkPlanDomain::DOMAINS[@grade.grade_level].each do |domain| %>
			<div class="domain-tab"
        data-allskilldisplay-target="domainBtn"
        data-domain = "<%=domain%>"
        data-action = 'click->allskilldisplay#displayDomain'
				<%# indicate if domain is special true && not CME && in special domain %>
				data-special="<%= @are_special_domains && @grade != 'CM2' && domain.in?(WorkPlanDomain::DOMAINS_SPECIALS)%>">
				<%= domain %>
			</div>
		<% end %>
	</div>
	<div class="all-skills">
		<div class="skill_level-selectors">
			<% for skill_level in (1..7) do%>
				<div class="skill_level-selector"  data-level="<%=skill_level%>"
        data-action="click->allskilldisplay#displaySkills"
					data-allskilldisplay-target="leveltBtn">
					<i class=" fas fa-bacon belt-<%= skill_level %> font-weight-bold"></i>
				</div>
			<% end %>
			<%= link_to skills_path(grade: @grade, format: :xlsx) do %>
				<div class="skill_level-selector">
					<i class="fa-solid fa-file-excel --vert"></i>
				</div>
			<% end %>
		</div>
		<% WorkPlanDomain::DOMAINS[@grade.grade_level].each do |domain| %>
			<div class="skills_boxe <%= 'd-none 'unless domain == WorkPlanDomain::DOMAINS[@grade.grade_level].first%>"
    data-domain='<%=domain%>'
    data-allskilldisplay-target='domainCard'>
				<%# <% domain = WorkPlanDomain::DOMAINS[@grade].first %>
				<% for skill_level in (1..7) do %>
					<% skills = @skills.select {|skill| skill.level == skill_level && skill.domain == domain}.sort %>
					<div class="skills-display d-none"
          data-allskilldisplay-target='levelSkillCard'
          data-grade='<%=@grade.name%>'
          data-level='<%=skill_level%>'>
						<%= render 'all_skills_by_domain_level', skills: skills, domain: domain, level: skill_level %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
