<nav class="navbar navhaut pe-5">
  <div class="quote">
  </div>
  <div class="quote">
    <div id="QuoteOFDay"></div>
  </div>
  <div class="navbar navbar-expand-sm navbar-light d-flex">
    <div class='avatar'>
      <h3><%=current_user.first_name.capitalize%> <%=current_user.last_name.capitalize%></h3>
      <%# <p>Classe : <%current_user.classrooms.each do |classroom|%>
          <%#= classroom.grade%>
      <%#</p> %>
      <%#<% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%if current_user.avatar.attached?%>
              <%= cl_image_tag current_user.avatar.key, class: "avatar", alt: "https://res.cloudinary.com/bensoucdev/image/upload/v1644250365/avatr_myemjn.png" %>
            <% else %>
              <img src="https://res.cloudinary.com/bensoucdev/image/upload/v1644250365/avatr_myemjn.png" class= "avatar" alt="">
            <% end %>
          </a>
          <div class="dropdown-menu left" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Ma classe</a>
            <%=link_to "Mon compte", edit_user_registration_path, class: "dropdown-item"%>
            <%if current_user.admin%>
              <%= link_to 'DATA-ADMIN', '/admin', class: "dropdown-item", target: '_blank' %>
            <% end %>
            <%=link_to "Déconnexion", destroy_user_session_path, method: :delete,class: "dropdown-item"%>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
