<%= turbo_frame_tag "top-sequence" do %>
	<div class="top-sequence">
		<div class="sequence-box">
			<div id=1 class="sequence-counter-box <%='active' if sequence == 1%> ">1</div>
			<div class="sequence-line"></div>
			<div id=2 class="sequence-counter-box <%='active' if sequence == 2%>">2</div>
			<div class="sequence-line"></div>
			<div id=3 class="sequence-counter-box <%='active' if sequence == 3%>">3</div>
			<div class="sequence-line"></div>
			<div id=4 class="sequence-counter-box <%='active' if sequence == 4%>">4</div>
		</div>
	</div>
<% end %>
