<%= render 'pop_up_pwa_install' %>
<div class="mobile-home mobile-banner">
	<div class= "mobile-logo">
		<img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638453284/LOGO_lesptr.svg" alt="logo mobil">
	</div>
	<h1>Evaluer vos plans de travail n'importe où !</h1>
	<%= link_to "Commencer",mobile_work_plans_path, class: "btn btn-flat mobile-begin" %>
	<p class='--blanc' data-controller='go-to-anchor'
    data-action='click->go-to-anchor#getDown'><i class="fa-solid fa-angles-down"></i> En savoir plus <i class="fa-solid fa-angles-down"></i>
	</p>
</div>
<div class="mobile-home mobile-details" id='ensemble-details'>
	<div class="mobile-detail-box">
		<h2>Qu'est-ce qu'Ensemble !?</h2>
		<p>Ensemble ! est une application en ligne à destination des professeurs des écoles et  conçue pour créer, éditer et corriger des plans de travail adaptés. Elle simplifie la génération et la personnalisation des plans de travail, offrant ainsi une progression individualisée pour chaque élève.</p>
		<p>Vous vous trouvez actuellement sur le compagnon mobile de l'application, qui permet d'enregistrer les progrès de vos élèves sans avoir besoin d'un ordinateur.</p>
		<p>Nous vous encourageons à vous connecter depuis votre ordinateur pour profiter pleinement de l'expérience offerte par Ensemble !</p>
	</div>
	<%= link_to "S'incrire",mobile_work_plans_path, class: "btn btn-flat mobile-begin" %>
	<div class="grey-line"></div>
	<div class="mobile-detail-box">
		<h2 >CRÉER</h2>
		<p>Des Plans de Travail, des excercices, vos classes en collaboration avec vos collègues</p>
		<%= render 'creation_captures', mobile: true %>
	</div>
	<div class="grey-line"></div>
	<div class="mobile-detail-box">
		<h2>Les tutos Ensemble !</h2>
		<p >
			Pour vous accompagner dans votre utilisation d'Ensemble, nous avons rédigé des tutoriels accessibles :
		</p>
		<h4>
			<%= link_to  'https://vroadstudio.notion.site/Ensemble-Les-Tutos-1bb72deab51d43898dd2bdcec25ec098', class:'btn-flat', target: 'blank' do%>
				<i class="fa-solid fa-angles-left"></i> Accéder aux tutos <i class="fa-solid fa-angles-right"></i>
			<% end %>
		</h4>
	</div>
	<div class="grey-line"></div>
	<div class="mobile-detail-box">
		<h2>VOIR</h2>
		<p>Disposer d’un espace pour voir l’ensemble de vos plans de travail ou de vos exercices.</p>
		<%= render 'wp_challenge_captures', mobile: true %>
	</div>
	<div class="grey-line"></div>
	<div class="mobile-detail-box">
		<h2>ÉVALUER</h2>
		<p>Pouvoir évaluer, sur mobile et ordinateur, le travail accompli par chaque élève et créer facilement vos plans de travail à la progression de chaque élèves.</p>
		<%= render 'evaluation_captures', mobile: true %>
	</div>
	<div class="grey-line"></div>
	<div class="mobile-detail-box
">
		<h2>PARTAGER</h2>
		<p>Partager votre travail avec d’autres professeurs et s’inspirer du leur. Pouvoir transmettre un état des lieux de chaque élève au professeur de classe supérieure.</p>
		<%= render 'sharing_captures', mobile: true %>
	</div>
	<div class="grey-line"></div>
  <%= render "pages/hosting_banner" %>
	<div class="grey-line"></div>
	<%= link_to "S'incrire",mobile_work_plans_path, class: "btn btn-flat mobile-begin" %>
</div>
