<% unless is_mobile_device? %>
	<div id="home">
		<div class="banner w-100" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_url('back_to_school.jpg') %>);">
			<div class= "logo bg-white mb-5 ">
				<img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638453284/LOGO_lesptr.svg", alt='logo ensemble'>
			</div>
			<div class="container home-container mt-5 ">
				<h2 >La solution aux préparations et partages des plans de travail</h2>
			</div>
		</div>
		<%# BOUTON %>
		<div class="description">
			<div class="text-center">
				<%= link_to "Commencer",dashboard_path, class: "btn btn-flat  enter-card" %>
			</div>
		</div>
		<%# PROMESSES %>
		<div class= "pledge">
			<div class="row1">
				<h1>CRÉER</h1>
				<p>Pouvoir créer des plans de travail adaptés
					les éditer et les corriger. <br>
          Génération facilité et individualisé à la progression de l'élève</p>
				<%= render 'creation_captures' %>
			</div>
			<div class="row1">
				<h1>VOIR</h1>
				<p>Disposer d’un espace pour voir l’ensemble de vos <br>
					plans de travail ou de vos exercices.</p>
				<%= render 'wp_challenge_captures' %>
			</div>
			<div class="row1">
				<h1>ÉVALUER</h1>
				<p>Pouvoir évaluer le travail accompli par chaque élève<br>
					et créer facilement vos plans de travail à la progression de chaque élèves.</p>
				<%= render 'evaluation_captures' %>
			</div>
			<div class="row1">
				<h1>PARTAGER</h1>
				<p>Partager votre travail avec d’autres professeurs et s’inspirer du leur. <br>
					Pouvoir transmettre un état des lieux de chaque élève<br>
					au professeur de classe supérieure.</p>
				<%= render 'sharing_captures' %>
			</div>
		</div>
		<div class="tournicoti">
			<img  src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1639068448/logo2_rmtwus.svg" alt=" logo central">
		</div >
    <div class="grey-line m-5"></div>
		<div class="showcase-banner">
			<%= render 'details' %>
		</div>
		<%# <%= image_tag "desc.svg" %>
	</div>
	<%# mobile HOME %>
<% else %>
	<div class="mobile-home mobile-banner">
		<div class= "mobile-logo">
			<img src="https://res.cloudinary.com/dr50qe2fh/image/upload/v1638453284/LOGO_lesptr.svg" alt="logo mobil">
		</div>
		<h1>Evaluer vos plans de travail n'importe où !</h1>
		<%= link_to "Commencer",mobile_work_plans_path, class: "btn btn-flat mobile-begin" %>
	</div>
<% end %>
