<div class="container m-lg-5">
	<h1>Mentions légales du site www.app-ensemble.fr :</h1>
	<br>
	<h2>Identité</h2>
	<ul class='list-unstyled ms-2'>
		<li><strong>Nom de l'entreprise :</strong> VroadStudio</li>
		<li><strong>Statut juridique :</strong> Autoentreprise</li>
		<li><strong>Nom du responsable :</strong> Benoit Moret</li>
		<li><strong>Adresse :</strong> 47 rue des Frères Amieux</li>
		<li><strong>Adresse email :</strong> <%= mail_to "contact@vroadstudio.fr", "contact@vroadstudio.fr", subject: "Ensemble : Prise de contact", target: '_blank' %></li>
	</ul>
	<br>
	<h2>Hébergeur</h2>
	<ul class='list-unstyled ms-2'
>
		<li><strong>Hébergement du site internet :</strong> Scalingo</li>
		<li><strong>Localisation de l'hébergement :</strong> Paris</li>
		<li>
			<strong>Stockage des données :</strong> Les données sont stockées par SCALINGO dans des centres de données situés en France, gérés par OUTSCALE dans sa région eu-west-2. Les centres de données sont situés à Paris-Pantin et Magny-les-Hameaux, France. Les services de stockage OOS d'OUTSCALE sont situés en France dans la région eu-west-2 d'OUTSCALE et sont fournis à SCALINGO pour les sauvegardes de bases de données et les sauvegardes de journaux.
		</li>
		<li><strong>Adresse :</strong> 1 rue Royale, 319 bureaux de la Colline, 92210 Saint-Cloud</li>
		<li><strong>Contact pour les données personnelles :</strong> OUTSCALE DPO, 1 rue Royale, 319 bureaux de la Colline, 92210 Saint-Cloud, <%= mail_to "personal-data@outscale.com", "personal-data@outscale.com" %></li>
		<li><strong>Site web :</strong> <%= link_to 'www.scalingo.com', "https://www.scalingo.com", target: '_blank' %></li>
		<li><strong>Certification :</strong> ISO 27001</li>
	</ul>
  	<br>

	<h2 class="mb-3">Conditions d'utilisation</h2>
	<p>
		Le contenu du site <%= link_to 'www.app-ensemble.fr', "https://www.app-ensemble.fr", target: '_blank' %> est protégé par les lois sur la propriété intellectuelle et les droits d'auteur. Toute reproduction ou utilisation non autorisée du contenu est strictement interdite.
	</p>
	<p>
		<strong>Responsabilité :</strong> L'éditeur du site ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation du site <%= link_to 'www.app-ensemble.fr', "https://www.app-ensemble.fr", target: '_blank' %>.
	</p>
	<br>
	<h2>Collecte de données :</h2>
	Les données personnelles collectées sur ce site sont utilisées uniquement dans le cadre prévu par la loi et dans le respect de la vie privée des utilisateurs. Ces données ne sont pas transmises à des tiers sans consentement préalable.
	<br>
	<h2>Cookies :</h2>
	Ce site utilise des cookies pour améliorer l'expérience de l'utilisateur. En naviguant sur www.app-ensemble.fr, l'utilisateur accepte l'utilisation de cookies.
	<br>
	<h2>Droit applicable :</h2>
	Le site <%= link_to 'www.app-ensemble.fr', "www.app-ensemble.fr" %> est soumis au droit français.
	<br>
	<h2>Modification des mentions légales :</h2>
	L'éditeur se réserve le droit de modifier les présentes mentions légales à tout moment. Les utilisateurs sont invités à les consulter régulièrement.
	Si vous constatez des informations manquantes ou des erreurs, veuillez nous contacter à l'adresse <%=mail_to "contact@vroadstudio.fr", "contact@vroadstudio.fr",
         subject: "Ensemble : Prise de contact", target: '_blank'%>.
	<br>
	<%= link_to request.referer || root_path do%>
		<i class="fa-solid fa-circle-arrow-left"></i>
		Retour
	<% end %>
</div>
