<div class="container3 mt-3">
	<h2>Gérer vos domaines pour le niveau <%= grade.name %></h2>
	<%= turbo_frame_tag "domains_index" do%>
		<%= turbo_frame_tag 'domains_list' do %>
			<% @domains.each do |domain| %>
				<%= render 'one_domain', domain: domain %>
			<% end %>
		<% end %>
		<%= render 'domains/add_domain', grade: grade %>
	<% end %>
</div>
