<%= turbo_frame_tag "sequence" do%>
	<h1 class='sub-title'>Abonnement pour <%=school.name.capitalize%></h1>
	<%= simple_form_for Subscription.new, html: { novalidate: false,
  data:{controller:'calculate-subscription',
  calculate_subscription_target:'form',
  calculate_subscription_tarifs_value:"#{raw Subscription::TARIFS.to_json}" }} do |f|%>
		<div>
			<div class="sub-global-form">
				<div class='sub-form'>
					<div class="subscription-input">
						<p>Renouvellement :</p>
						<p >Nb de classe :</p>
					</div>
					<div class="subscription-input">
						<%= f.input :rythm, label:false,collection: ["Annuel","Mensuel"],selected:"Annuel", required: true,
            input_html:{data:{action:'change->calculate-subscription#calculate',calculate_subscription_target:'rythm' }} %>
						<%= f.input :quantity, label:false, collection: (1..15),selected: 1, required: true,
            input_html:{data:{action:'change->calculate-subscription#calculate',calculate_subscription_target:'quantity'}} %>
					</div>
				</div>
				<div class="vertical-bar"></div>
				<div class="sub-right-form">
					<div class="sub-input">
						<p>Fin période d'essai :</p>
						<p>Coût Total :</p>
						<p>Coût Mensuel (arrondi) :</p>
						<p>Date de renouvellement :</p>
					</div>
            <%= render 'sub_cost' %>
				</div>
			</div>
			<%= f.submit "Etape suivante", class: "create-school-code-btn"%>
		</div>
	<% end %>
<% end %>
