	<div class="contact-form" data-display-tab-target='box'>
		<%= simple_form_for User.new, url:user_registration_path, html: { novalidate: false,
        data:{turbo_frame: "_top"} },
          method: :post do |f| %>
			<%= f.error_notification %>
			<div class="form-inputs">
				<div class='user-details'>
					<%= f.input :first_name,
                        required: true,
                        input_html: { autocomplete: "First name" } %>
					<%= f.input :last_name,
                        required: true,
                        input_html: { autocomplete: "Last name" } %>
				</div>
				<div class='user-details'>
					<%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
				</div>
				<div class='user-details'>
					<%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
					<%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
				</div>
				<div class="user-details mt-2">
					<%= f.input :discovery_method, as: :select, collection: User::DISCOVERY_METHOD, required: true,
               label: "Comment vous avez entendu parler de nous?", include_blank: "Sélectionnez une méthode de découverte",input_html: {class:'--cursor-pointer'} %>
				</div>
				<div class="user-details mt-2">
          <div class='mt-4' id='recaptchaV2' data-controller='load-recaptcha-v2' data-load-recaptcha-v2-site-key-value=<%= ENV['RECAPTCHA_SITE_KEY'] %>></div>
				</div>
			</div>
			<div class="form-actions mt-2">
				<%= f.button :submit,"Créer un compte", class: "btn btn-primary --border-10px --borderc-rose --bgc-rose --blanc" do %>
				<% end %>
			<% end %>
		</div>
	</div>
