<div class="student-results-container">
	<h1 class='in-line'>Progression de <%= student.first_name.capitalize %>
		<h3 class='in-line'><%= I18n.l(Date.today, format: :long) %></h3>
	</h1>
	<br>
	<% domains.sort_by(&:position).each do |domain| %>
		<!-- DOMAIN LOOP-->
		<div class="avoid-page-break">
			<h2 style="text-align: center;"><%= domain.name.capitalize %></h2>
			<table class="student-results-table">
				<tr>
					<th class="col-belt">Ceinture</th>
					<th class="col-skill">Compétence</th>
					<th class="col-date">Date de Validation</th>
				</tr>
				<% skills_by_domain = skills.select { |skill| skill.domain == domain } %>
				<% for level in (1..7) %>
					<% skills_level = skills_by_domain.select { |skill| skill.level == level }.sort_by(&:position) %>
					<% if skills_level.any? %>
						<tr>
							<td class="col-belt" rowspan="<%= skills_level.count %>">
								<%= image_tag(Belt::BELT_PNG[level.to_s], size: "80x40") %>
							</td>
							<td class="col-skill"><%= skills_level.first.name %></td>
							<% result = results[skills_level.first.id] %>
							<td class="col-date"><%= result.nil? ? "" : result.updated_at.strftime("%d/%m/%Y") %></td>
						</tr>
						<% skills_level[1..-1].each do |skill| %>
							<tr>
								<td class="col-skill"><%= skill.name %></td>
								<% result = results[skill.id] %>
								<td class="col-date"><%= result.nil? ? "" : result.updated_at.strftime("%d/%m/%Y") %></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</table>
		</div>
		<div class="page-break"> </div>
		<!-- END DOMAIN LOOP-->
	<% end %>
</div>
