<div class="student-results-container">
  <div class="d-flex align-items-center gap-2 mb-1">
    <h1 class="">Progression de <%= student.first_name.capitalize %>
    </h1>
    <h3 class=""><%= I18n.l(Date.today, format: :long) %></h3>
  </div>
  <% domains.sort_by(&:position).each do |domain| %>
    <!-- DOMAIN LOOP-->
    <div class="avoid-page-break">
      <h2 style="text-align: center;"><%= domain.name.capitalize %></h2>
      <table class="student-results-table">
        <tr>
          <th class="col-belt">Ceinture</th>
          <th class="col-skill text-center">Compétence</th>
          <th class="col-date">Date de Validation</th>
        </tr>
        <% skills_by_domain = skills.select { |skill| skill.domain == domain } %>
        <% for level in (1..7) %>
          <% skills_level = skills_by_domain.select { |skill| skill.level == level }.sort_by(&:position) %>
          <% if skills_level.any? %>
            <tr>
              <td class="col-belt" rowspan="<%= skills_level.count %>">
                <%= image_tag(PdfGenerator.image_data_uri("belts/belt_#{level}.png"), size: "80x40") %>
              </td>
              <td class="col-skill"><%= skills_level.first.name %></td>
              <td class="col-date" style="text-align: left;">
                <% result = results[skills_level.first.id] %>
                <% if result %>
                  <% if result.belt_validated? %>
                    <span class="bg-success rounded-circle d-inline-block" style="width: 12px; height: 12px;"></span>
                    <%= result.updated_at.strftime("%d/%m/%Y") %>
                  <% else %>
                    <span class="bg-warning rounded-circle d-inline-block" style="width: 12px; height: 12px;"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <% skills_level[1..-1].each do |skill| %>
              <tr>
                <td class="col-skill"><%= skill.name %></td>
                <td class="col-date" style="text-align: left;">
                  <% result = results[skill.id] %>
                  <% if result %>
                    <% if result.belt_validated? %>
                      <span class="bg-success rounded-circle d-inline-block" style="width: 12px; height: 12px;"></span>
                      <%= result.updated_at.strftime("%d/%m/%Y") %>
                    <% else %>
                      <span class="bg-warning rounded-circle d-inline-block" style="width: 12px; height: 12px;"></span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </table>
    </div>
    <% unless domain == domains.sort_by(&:position).last %>
      <div class="page-break"></div>
    <% end %>
    <!-- END DOMAIN LOOP-->
  <% end %>
</div>
