
  <h1 class='in-line'>Progression de <%= student.first_name.capitalize %>
   <h3 class='in-line'><%= I18n.l(Date.today, format: :long) %></h3></h1>


<br>
<% domains.sort_by(&:position).each do |domain| %>
	<!-- DOMAIN LOOP-->
	<div class="avoid-page-break">
		<h1 style= "width: 100%; text-align: center;"><%= domain.name.capitalize %></h1>
		<br>
		<table style="width: 100%; border-collapse: collapse;">
			<tr>
				<th style='padding: 5px;text-align: center;'>Ceinture</th>
				<th style='padding: 5px;text-align: center;'>Compétence</th>
				<th style='padding: 5px;text-align: center;'>Date de Validation</th>
			</tr>
			<% skills_by_domain = skills.select { |skill| skill.domain == domain } %>
			<% for level in (1..7) %>
        <% belt = belts.detect {|belt| belt.domain == domain && belt.level == level}  %>
				<% skills_level = skills_by_domain.select { |skill| skill.level == level }.sort_by(&:position) %>
				<% if skills_level.any? %>
					<tr>
						<td style='padding: 5px;' rowspan="<%= skills_level.count %>">
							<%= image_tag(Belt::BELT_PNG[level.to_s], size: "100x50") %>
						</td>
						<td style='padding: 5px;'><%= skills_level.first.name %></td>
						<% result = results.find { |result| result.skill == skills_level.first } %>
            <%# result = belt unless result%>
						<td style='padding: 5px;text-align: center;'><%= result.nil? || !result.belt_validated? ? "" : result.updated_at.strftime("%d/%m/%Y") %></td>
					</tr>
					<% skills_level[1..-1].each do |skill| %>
						<tr>
							<td style='padding: 5px;'><%= skill.name %></td>
							<% result = results.find { |result| result.skill == skill } %>
              <%result = belt unless result%>
								<td style='padding: 5px;text-align: center;'><%= result.nil? || !result.completed? ? "" : result.updated_at.strftime("%d/%m/%Y") %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</table>
	</div>
<div class="page-break"> </div>


	<!-- END DOMAIN LOOP-->
<% end %>
