<div class="belt-bar belt-bg-<%= belt.level %> w-25 m-2">
	<div class="bar-style">
		<%= I18n.l(belt.validated_date, format: :short) %>
		<%= I18n.l(belt.validated_date, format: :year_only) %>
	</div>
	<div class='pt-2 belt-name text-center'>
		<h6 <%= "class= text-light" if belt.level == 7 || belt.level == 5 %>><%= domain.name %></h6>
	</div>
	<%= render 'mobile/belts/star' if domain.special? %>
</div>
