<div class="container3">
  <h1 class="mb-4">
  Groupe <%= @school.name %>
  </h1>
  <div class="school-show">
    <div class="teachers-list subscription-details --border-10px">
      <h4><i class="fa-solid fa-database"></i>
        Statistiques</h4>
      <br>
      <div class="group-number-card">
        <p><i class="fa-solid fa-users"></i>
          <%= "#{@school.users.count} Membre#{"s" if @school.users.count > 1}" %></p>
        <% if current_user.school_role.super_teacher? %>
          <%= link_to new_user_registration_path do %>
            <i
              class="fa-solid fa-user-plus"
              data-controller="tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Ajouter un/e professeur"
            ></i>
          <% end %>
        <% end %>
      </div>
      <ul>
        <% @school.users.order(:first_name).each do |teacher| %>
          <li class='teacher-detail-school-card'>
            <%= teacher.first_name.capitalize %>
            <div class="teacher-admin">
              <% if teacher.school_role.super_teacher %>
                <i
                  class="fa-solid fa-key --roseL"
                  data-controller="tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Responsable du groupe"
                ></i>
              <% end %>
            </div>
            <div class="teacher-email">
              (<%= teacher.email %>)
            </div>
          </li>
        <% end %>
      </ul>
      <div class="grey-line-full"></div>
      <div class="classrooms-details-card">
        <p>
          <i class="fa-solid fa-people-roof"></i>
          <%= "#{@classrooms.count} / #{@subscription.quantity unless @subscription.nil?} classe#{'s' if @classrooms.count > 1}" %>
        </p>
        <p>
          <i class="fa-solid fa-graduation-cap"></i>
          <%= "#{@students.count} élève#{"s" if @students.count > 1}" %>
        </p>
      </div>
    </div>
    <div class="subscription-details --border-10px">
      <% if  @subscription.nil? %>
        Vous n'avez pas encore d'abonnement
        <%=link_to "Abonnez-vous", subscriptions_school_pricing_path, class: "btn-flat text-center"%>
      <% else %>
        <h3>Détails de votre Abonnement</h3>
        <p><i class="fa-solid fa-heart"></i>
          <%= t("etats_facturation.#{@subscription.status}") %>
          <%= "(fin le #{@subscription.trial_end})" if @subscription.status == "trialing" %>
        </p>
        <p><i class="fa-solid fa-repeat"></i>
          Annuel</p>
        <p><i class="fa-solid fa-calendar-xmark"></i>
          <%= @subscription.current_period_end %></p>
      <% end %>
    </div>
  </div>
</div>
