<%= turbo_frame_tag dom_id(challenge) do %>
  <% if (challenge.user == current_user ||current_user.admin || challenge.user.admin?) && params[:controller]  == "challenges" && challenge.work_plan_skills.empty? %>
    <div class="delete-challenge-btn">
      <%= button_to challenge_path(challenge), method: :delete, class: "move-left-btn",
        data: {confirm: "Souhaitez vous supprimer cet éxercice?"} do %>
        <i class="fa-solid fa-circle-xmark"></i>
      <% end %>
    </div>
  <% end %>
  <%= link_to edit_challenge_path(challenge), class:"--color-inherit" do %>
    <div class="cont-challenge pencil-pointor mb-1" id="<%= challenge.id%>">
      <div class= "" data-controller="edit-challenge">
        <div  data-edit-challenge-target="infos">
          <div class="challenge-infos"   data-ajax-replace-challenge-target='content' id='<%=challenge.id %>'>
            <div class="challenge-name-in-content">
              <%= challenge.name%>
            </div>
            <%= challenge.content %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if params[:controller]  == "challenges" && params[:action] == "index"%>
    <div class="challenge-infos-box">
      <p class="ms-5 --grisC --italic"> <i class='fas fa-pen fa-xs'></i> <%= challenge.user.first_name %></p>
      <%if !challenge.work_plan_skills.empty?  %>
        <p class=" --grisC --italic">Utilisé sur d'autres plans de travail</p>
      <% end %>
    </div>
  <% end %>
<% end %>
