<div class='display-challenge-name'>         <%# titre de la skill %>
	<h4><%= @work_plan_skill.skill.name%></h4>
</div>
<div class="challenge-card">
	<div class="d-flex " data-controller='edit-challenge'  id="<%=dom_id(@challenge)%>">
		<%# display le content.body d'un exo %>
		<div class="cont-challenge w-100" data-ajax-replace-challenge-target='content' id="<%= @challenge.id%>">
			<div class= "pencil-pointor" >
				<div  data-edit-challenge-target="infos" data-action="click->edit-challenge#displayForm">
					<div class="challenge-infos"   data-ajax-replace-challenge-target='content' id='<%=@challenge.id %>'>
						<div class="challenge-name-in-content">
							<%= @challenge.name%>
						</div>
						<%= @challenge.content.body %>
					</div>
				</div>
				<div class="challenge-infos d-none" data-edit-challenge-target="preview" >
				</div>
			</div>
			<%# Display editeur, en d-none de base %>
			<div>
				<%= form_for [@work_plan_skill, @challenge],
                html: { class: 'd-none', data: { edit_challenge_target: 'form' } } do |form| %>
					<div class="field pt-2 pb-2" data-controller="rich-text-table">
						<div>
							<%= form.text_field :name, class: "challenge-title"%>
						</div>
						<%= form.rich_text_area :content %>
					</div>
					<div class="form-actions d-flex justify-content-end height-validate-challenge">
						<%# <%= link_to work_plan_path(@work_plan, anchor: "challenge_#{@challenge.id}"), class: 'cancel-btn' do %>
							<div class="cancel-btn" data-action="click->edit-challenge#hideForm">
								<i class="fas fa-times"></i>
							</div>
							<%# <% end %>
							<%= form.submit 'Enregistrer', class: 'validate-challenge-btn', data: { confirm: "Attention, modifier cet excercice impactera les autres Plans l'utilisant. Sinon vous pouvez cloner l'exercice." }%>
						</div>
					<% end %>
				</div>
			</div>
			<%= render 'challenges/challenge_mngt' %>
		</div>
	</div>
