<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" data-bs-interval="false"> <!-- no cycling on carroussel -->
	<div class="carousel-inner">
		<%# for  each challenge %>
		<div class="carousel-item active">
			<div class="cont-challenge w-100">
				<div class="challenge-card" >
					<div class="challenge-infos " id='<%=@challenges.first.id %>'>
						<div class="@challenges.first-name-in-content"><%= @challenges.first.name%> </div>
						<%= @challenges.first.content.body %>
					</div>
				</div>
			</div>
		</div>
		<% @challenges[1..-1].each do |challenge|  %>
			<div class="carousel-item">
				<div class="cont-challenge w-100">
					<div class="challenge-card" >
						<div class="challenge-infos " id='<%=challenge.id %>'>
							<div class="challenge-name-in-content"><%= challenge.name%> </div>
							<%= challenge.content.body %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<%# end of for each challenge %>
	</div>
	<button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon bg-secondary" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon bg-secondary" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
