<%if wps.special_wps? %>
	<div class="eval_bull <%= wps.status %> " data-action="mouseover->wps-result#displayName mouseout->wps-result#hideName">
		<i class="fa-solid fa-<%= wps.kind[0]%>"></i>
	</div>
<% else %>
	<%= link_to work_plan_path(wps.work_plan_domain.work_plan), target: '_blank' do%>
		<div class="eval_bull <%= wps.status %> " data-action="mouseover->wps-result#displayName mouseout->wps-result#hideName">
			<i class="fa-solid fa-<%= wps.kind[0]%>"></i>
		</div>
	<% end %>
<% end %>
