<%= turbo_frame_tag "general_modal" do%>
	<div id= "myModal" data-controller='reset-frame' data-reset-frame-name-value='general_modal'>
		<div class="modal-content w-50">
      <div data-action="click->reset-frame#resetFrame" class='text-primary --cursor-pointer'>
				<i class="fa-solid fa-circle-arrow-left"></i>
				Retour Progression
      </div>

			<div class="border-round-rose" >
				<%= simple_form_for @belt , html: { novalidate: false } do |f| %>
					<div class="belt-edit-header-1">
						<h2><i class=" fas fa-bacon belt-<%= @belt.level %>"></i><%= " #{@belt.domain.name.capitalize}  "%></h2>
						<h4><%= "#{@belt.student.first_name.capitalize}" %></h4>
					</div>
					<div class="date-selection">
						<p>Obtenue le</p>
						<%= f.input :validated_date, as: :date, label: false,
                                          # required: :true,
                                          html5: true,
                                          input_html: {
                                            # value: @belt.validated_date.strftime("%d/%m/%Y"),
                                            class: 'datepicker area',
                                            locale: "fr",
                                            }%>
						<%= f.submit "Valider", class: 'area rect-sm btn-valid' %>
					</div>
				<% end %>
				<div class="belt-edit-header-3">

				</div>
			</div>
		</div>
	</div>
<% end %>
