<!DOCTYPE html>
<html lang='fr'>
	<head>
		<%= favicon_link_tag %>
		<title><%= meta_title %></title>
		<%# PWA %>
		<link rel="manifest" crossorigin="use-credentials" href="<%= asset_path 'manifest.json' %>">
		<%= render 'shared/social_meta' %>
		<%= render 'shared/ios_pwa_links' %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<!-- Hide url bar -->
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<!--Script & Style -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
		<script src="https://kit.fontawesome.com/aa9dc78317.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<%= render "shared/flashes"%>
		<%# <%= render "shared/notices"%>
		<% if ["devise/registrations", "devise/sessions", "devise/passwords"].include?(params[:controller]) %>
			<%= yield %>
		<% elsif ["pages"].include?(params[:controller])%>
			<%= yield %>
			<% unless is_mobile_device? %>
				<%= render "shared/home_footer" %>
			<% end %>
		<% else %>
			<% unless is_mobile_device? %>
				<div class="navgauche" >
					<%= render "shared/nav_gauche" %>
				</div>
			<% end %>
			<div class="contenu">
				<% unless is_mobile_device? %>
					<div data-controller="scroll-progress" class="scroll-progress"></div>
					<div class="scroll-bar-tab">
					</div>
					<%= render "shared/nav_haut" %>
				<% end %>
				<div class="pastouche" style="margin: 0 auto" >
					<%= yield %>
				</div>
			</div>
			<% unless is_mobile_device? %>
				<%= render "shared/footer" %>
			<% else %>
				<%= render "shared/mobile_footer" %>
			<% end %>
		<% end %>
	</body>
</html>
