<!DOCTYPE html>
<html>
  <head>
    <%# <%= favicon_link_tag %>
    <title>Ensemble</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<%# <%console%>
    <%= render 'shared/flashes' %>

    <%# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: %>
    <%# À voir pour ne plus afficher les sides bars sur le login ça passe par            %>
    <%# le controleur qui est en params mais malheuresement c'est devise/session         %>
    <%# sur toutes les pages xD                                                          %>
    <%# :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::%>

    <% if ['pages', 'devise/registrations', 'devise/sessions' ].include?(params[:controller]) %>

      <div class="pastouche"><%= yield %></div>
    <% else %>
      <div class="container2">
        <div class="navgauche"><%= render 'shared/nav_gauche' %></div>
        <div class="contenu">
          <div class="navhaut"><%= render 'shared/nav_haut' %></div>
          <div class="pastouche" style="margin: 0 auto"><%= yield %></div>
        </div>
      </div>
    <% end %>



  </body>
</html>
