<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%# PWA %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
     <%= render 'shared/ios_pwa_links' %>
    <%#  %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Script & Style -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload", defer: true %>
    <script src="https://kit.fontawesome.com/aa9dc78317.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if ["pages", "devise/registrations", "devise/sessions"].include?(params[:controller]) %>
      <div class="pastouche">
        <%= yield %>
      </div>
    <% else %>
      <% unless is_mobile_device? %>
        <div class="navgauche">
          <%= render "shared/nav_gauche" %>
        </div>
      <% end %>
      <div class="contenu">
        <% unless is_mobile_device? %>
          <div data-controller="scroll-progress" class="scroll-progress"></div>
          <%= render "shared/nav_haut" %>
        <% end %>
        <div class="pastouche" style="margin: 0 auto">
          <%= yield %>
        </div>
      </div>
      <% unless is_mobile_device? %>
        <%= render "shared/footer" %>
      <% else %>
        <%= render "shared/mobile_footer" %>
      <% end %>
    <% end %>
  </body>
</html>
